sudo: false

language: java

cache:
  directories:
  - $HOME/.m2

install: true

osx_image: xcode8

matrix:
  fast_finish: true
  include:
    - jdk: oraclejdk8
      env: WITH_COVERALLS=true

    - jdk: oraclejdk7

    - jdk: openjdk6

    - os: osx


script:
  - if [ "$WITH_COVERALLS" == "true" ];
    then
      mvn -f Mockito_Example/pom.xml clean test jacoco:report coveralls:report
    else
    then mvn -f Mockito_Example/pom.xml clean test;
    fi
